# Docker
# Build and push an image to Azure Docker Hub
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  imageRepository: 'azure_devops_aks_project'
  containerRegistry: 'Docker_Hub_Connection'
  dockerfilePath: '$(Build.SourcesDirectory)/MvcApp/Dockerfile'
  tag: '$(Build.BuildId)'
  
  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      inputs:
        command: 'login'
        containerRegistry: 'Docker_Hub_Connection'
        
    - task: Docker@2
      inputs:
        containerRegistry: 'Docker_Hub_Connection'
        command: 'buildAndPush'
        repository: 'gaurav3469docker/azure_devops_aks_project'
        Dockerfile: 'MvcApp/Dockerfile'